/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SolarStorm implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

.ss-wrapper,
.ss-wrapper * {
	box-sizing: border-box;
}

.ss-play-area {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.ss-rooms-wrapper {
	margin: 20px;
	position: relative;
	min-width: 600px;
	max-width: 900px;
	flex: 1000;
}
.ss-rooms {
	position: relative;
	top: 0;
	height: 0;
	width: 100%;
	height: 0;
	padding-bottom: 73.5%;
}

.ss-decks-wrapper {
	min-width: 280px;
	max-width: 500px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.ss-players-area {
	margin: 20px;
}

.ss-room {
	position: absolute;
	width: 32%;
	height: 32%;
	background-image: url(img/rooms.jpg);
	background-size: 300%;
	border-radius: 4%;
	box-shadow: rgba(0, 0, 0, 0.7) 3px 3px 5px;
}

.ss-room.ss-highlight {
	border: 2px solid blue;
	cursor: pointer;
	box-shadow: rgba(0, 0, 255, 0.7) 4px 4px 6px;
}

.ss-room:hover {
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.5));
}

.ss-room--pos-0 {
	top: 0%;
	left: 0%;
}
.ss-room--pos-1 {
	top: 0%;
	left: 34%;
}
.ss-room--pos-2 {
	top: 0%;
	left: 68%;
}
.ss-room--pos-3 {
	top: 34%;
	left: 0%;
}
.ss-room--pos-4 {
	top: 34%;
	left: 34%;
}
.ss-room--pos-5 {
	top: 34%;
	left: 68%;
}
.ss-room--pos-6 {
	top: 68%;
	left: 0%;
}
.ss-room--pos-7 {
	top: 68%;
	left: 34%;
}
.ss-room--pos-8 {
	top: 68%;
	left: 68%;
}

.ss-room--0 {
	background-position: 0% 0%;
}
.ss-room--1 {
	background-position: 50% 0%;
}
.ss-room--2 {
	background-position: 100% 0%;
}
.ss-room--3 {
	background-position: 0% 50%;
}
.ss-room--4 {
	background-position: 50% 50%;
}
.ss-room--5 {
	background-position: 100% 50%;
}
.ss-room--6 {
	background-position: 0% 100%;
}
.ss-room--7 {
	background-position: 50% 100%;
}
.ss-room--8 {
	background-position: 100% 100%;
}

.ss-room-tooltip {
	position: relative;
	width: 333px;
	height: 245px;
}

.ss-room__damage {
	position: absolute;
	width: 10%;
	height: 14%;
	left: 90%;
	background-image: url(img/damage-cube.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 1.3s ease-in-out;
}
.ss-room__damage--0 {
	top: 19%;
}
.ss-room__damage--1 {
	top: 37%;
}
.ss-room__damage--2 {
	top: 54%;
}

.ss-room--damaged-0 .ss-room__damage--0,
.ss-room--damaged-1 .ss-room__damage--1,
.ss-room--damaged-2 .ss-room__damage--2 {
	top: 0;
	left: 0;
	opacity: 0;
}

.ss-room__diverted-token {
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	background-image: url(img/tokens.png);
	background-position: 0% 0%;
	background-size: 600% 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5));
	top: 0%;
	left: 35%;
	height: 20%;
	width: 15%;
	opacity: 0;
	pointer-events: none;
	transition: all 1.3s ease-in-out;
}
.ss-room__diverted-token.ss-visible {
	top: 45%;
	left: 5%;
	height: 30%;
	width: 20%;
	opacity: 1;
	pointer-events: all;
}

.ss-room__diverted-token:hover {
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.5));
}

.ss-damage-card {
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.5));
}

.ss-resource-card {
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.5));
}
.ss-resource-card.stockitem_selected {
	border: none !important;
	outline: 1px solid #2565e8;
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 255, 0.7)) drop-shadow(-3px -3px 6px rgba(0, 0, 255, 0.7));
}

.ss-resource-deck {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.ss-resource-deck__deck {
	width: 87px;
	height: 120px;
	background-image: url('img/resources.jpg');
	background-position: 100% 0;
	margin-right: 5px;
}

.ss-resource-deck__table {
	flex-grow: 1;
}

.ss-resource-deck__source.ss-highlight {
	border: 2px solid blue;
	box-shadow: rgba(0, 0, 255, 0.7) 4px 4px 6px;
}

.ss-player-board {
	display: flex;
	flex-wrap: wrap;
}

.ss-player-board.ss-highlight {
	border: 2px solid blue;
	box-shadow: rgba(0, 0, 255, 0.7) 4px 4px 6px;
}

.ss-player-board__name {
	padding: 5px 10px;
	margin-bottom: 5px;
	width: 100%;
}

.ss-player-board .ss-player-hand {
	flex: 1;
	min-width: 10px;
}

.ss-player-meeple {
	position: absolute;
	background-image: url(img/meeples.png);
	background-position: 0 0;
	background-size: 100% 400%;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.7)) drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.7))
		drop-shadow(-1px 1px 1px rgba(255, 255, 255, 0.7)) drop-shadow(1px -1px 1px rgba(255, 255, 255, 0.7));
}

.ss-player-meeple:hover {
	cursor: pointer;
	filter: drop-shadow(1px 1px 1px rgba(191, 191, 191, 0.7)) drop-shadow(-1px -1px 1px rgba(191, 191, 191, 0.7))
		drop-shadow(-1px 1px 1px rgba(191, 191, 191, 0.7)) drop-shadow(1px -1px 1px rgba(191, 191, 191, 0.7));
}

.ss-player-meeple.ss-highlight {
	cursor: pointer;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 255, 0.7)) drop-shadow(-1px -1px 1px rgba(0, 0, 255, 0.7))
		drop-shadow(-1px 1px 1px rgba(0, 0, 255, 0.7)) drop-shadow(1px -1px 1px rgba(0, 0, 255, 0.7));
}

.ss-player-meeple.ss-highlight:hover {
	cursor: pointer;
	filter: drop-shadow(1px 1px 1px rgba(127, 127, 255, 0.7)) drop-shadow(-1px -1px 1px rgba(127, 127, 255, 0.7))
		drop-shadow(-1px 1px 1px rgba(127, 127, 255, 0.7)) drop-shadow(1px -1px 1px rgba(127, 127, 255, 0.7));
}

.ss-player-meeple--order-1 {
	background-position: 0 0;
}
.ss-player-meeple--order-2 {
	background-position: 0 33%;
}
.ss-player-meeple--order-3 {
	background-position: 0 66%;
}
.ss-player-meeple--order-4 {
	background-position: 0 100%;
}

.ss-resource-reorder-dialog {
	height: 0;
	background: #ffffffcc;
	transition: all 1.3s ease-in-out;
	overflow: hidden;
	margin: 10px;
}

.ss-resource-reorder-dialog__title {
	margin-bottom: 10px;
	padding: 10px;
}

.ss-resource-reorder-deck {
	margin: 10px;
}

.ss-resource-reorder-dialog.ss-visible {
	overflow: visible;
	height: 200px;
}

.ss-damage-reorder-dialog {
	height: 0;
	background: #ffffffcc;
	transition: all 1.3s ease-in-out;
	overflow: hidden;
	margin: 10px;
}

.ss-damage-reorder-dialog__title {
	margin-bottom: 10px;
	padding: 10px;
}

.ss-damage-reorder-deck {
	margin: 10px;
}

.ss-damage-reorder-dialog.ss-visible {
	overflow: visible;
	height: 200px;
}

.ss-action-token {
	width: 30px;
	height: 30px;
	background-image: url(img/tokens.png);
	background-position: 100% 0%;
	background-size: 600% 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5));
}
.ss-player-board__action-tokens {
	opacity: 0;
	width: 0px;
	height: 0px;
	transition: all 1.3s ease-in-out;
	text-align: center;
}
.ss-player-board__action-tokens.ss-visible {
	opacity: 1;
	width: 30px;
	height: 30px;
}

.ss-player-board__action-tokens__number {
	font-weight: bold;
}

.ss-protection-token {
	position: absolute;
	bottom: 0%;
	left: 0%;
	background-image: url(img/tokens.png);
	background-position: 20% 0%;
	background-size: 600% 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5));
	width: 15%;
	height: 20%;
}

.ss-protection-token + .ss-protection-token {
	left: 10%;
}
.ss-protection-token + .ss-protection-token + .ss-protection-token {
	left: 20%;
}
.ss-protection-token + .ss-protection-token + .ss-protection-token + .ss-protection-token {
	left: 30%;
}

.ss-protection-token--1 {
	background-position: 20% 0%;
}
.ss-protection-token--2 {
	background-position: 40% 0%;
}
.ss-protection-token--3 {
	background-position: 60% 0%;
}
.ss-protection-token--4 {
	background-position: 80% 0%;
}
