/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SolarStorm implementation : © Christophe Badoit <gameboardarena@tof2k.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

.ss-section-title > span {
	background-image: url(img/title-bg.png);
	background-position: 100% 0%;
	background-repeat: no-repeat;
	color: #57c6f1;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	margin-bottom: 5px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 20px;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
}

.ss-wrapper,
.ss-wrapper * {
	box-sizing: border-box;
}

.ss-play-area {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.ss-rooms-wrapper {
	margin: 20px;
	position: relative;
	min-width: 600px;
	max-width: 900px;
	flex: 1000;
}
.ss-rooms {
	position: relative;
	top: 0;
	height: 0;
	width: 100%;
	height: 0;
	padding-bottom: 73.5%;
}

.ss-decks-wrapper {
	min-width: 280px;
	max-width: 550px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.ss-decks-wrapper-top {
	display: flex;
	flex-wrap: wrap;
}

.ss-damage-deck {
	min-width: 280px;
	flex: 1;
}

.ss-players-area {
	margin: 20px;
}

.ss-room {
	position: absolute;
	width: 32%;
	height: 32%;
	background-image: url(img/rooms.jpg);
	background-size: 300%;
	border-radius: 4%;
	box-shadow: rgba(0, 0, 0, 0.7) 3px 3px 5px;
}

.ss-room.ss-highlight {
	border: 2px solid blue;
	cursor: pointer;
	box-shadow: rgba(0, 0, 255, 0.7) 4px 4px 6px;
}

.ss-room.ss-highlight-hover {
	border: 2px solid white;
	cursor: pointer;
	box-shadow: rgba(255, 255, 255, 0.7) 4px 4px 6px;
}

.ss-room.ss-shake {
	animation: ss-shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.ss-room:hover {
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.5));
}

.ss-room.ss-room-destroyed:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(img/explosion.svg);
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.ss-room--pos-0 {
	top: 0%;
	left: 0%;
}
.ss-room--pos-1 {
	top: 0%;
	left: 34%;
}
.ss-room--pos-2 {
	top: 0%;
	left: 68%;
}
.ss-room--pos-3 {
	top: 34%;
	left: 0%;
}
.ss-room--pos-4 {
	top: 34%;
	left: 34%;
}
.ss-room--pos-5 {
	top: 34%;
	left: 68%;
}
.ss-room--pos-6 {
	top: 68%;
	left: 0%;
}
.ss-room--pos-7 {
	top: 68%;
	left: 34%;
}
.ss-room--pos-8 {
	top: 68%;
	left: 68%;
}

.ss-room--0 {
	background-position: 0% 0%;
}
.ss-room--1 {
	background-position: 50% 0%;
}
.ss-room--2 {
	background-position: 100% 0%;
}
.ss-room--3 {
	background-position: 0% 50%;
}
.ss-room--4 {
	background-position: 50% 50%;
}
.ss-room--5 {
	background-position: 100% 50%;
}
.ss-room--6 {
	background-position: 0% 100%;
}
.ss-room--7 {
	background-position: 50% 100%;
}
.ss-room--8 {
	background-position: 100% 100%;
}

.ss-room-tooltip {
	display: flex;
}
.ss-room-tooltip > div {
	margin: 10px;
}
.ss-room-tooltip > div:nth-child(1),
.ss-room-tooltip > div:nth-child(4) {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ss-room-tooltip > div:nth-child(2),
.ss-room-tooltip > div:nth-child(3) {
	flex: 1;
}
.ss-room-tooltip > div:nth-child(3) {
	text-align: right;
	border-left: 1px solid #ccc;
}

.ss-room--zoom-divert {
	position: relative;
	width: 60px;
	height: 110px;
	background-image: url(img/rooms.jpg);
	background-size: 2030%;
}
.ss-room--zoom-divert.ss-room--1 {
	background-position: 36% 3%;
}
.ss-room--zoom-divert.ss-room--2 {
	background-position: 71% 3%;
}
.ss-room--zoom-divert.ss-room--3 {
	background-position: 1% 41%;
}
.ss-room--zoom-divert.ss-room--4 {
	background-position: 36% 41%;
}
.ss-room--zoom-divert.ss-room--5 {
	background-position: 71% 41%;
}
.ss-room--zoom-divert.ss-room--6 {
	background-position: 1% 79%;
}
.ss-room--zoom-divert.ss-room--7 {
	background-position: 36% 79%;
}
.ss-room--zoom-divert.ss-room--8 {
	background-position: 71% 79%;
}

.ss-room--zoom-repair {
	position: relative;
	width: 48px;
	height: 110px;
	background-image: url(img/rooms.jpg);
	background-size: 1800%;
}
.ss-room--zoom-repair.ss-room--1 {
	background-position: 64% 6%;
}
.ss-room--zoom-repair.ss-room--2 {
	background-position: 99% 6%;
}
.ss-room--zoom-repair.ss-room--3 {
	background-position: 28% 46%;
}
.ss-room--zoom-repair.ss-room--4 {
	background-position: 64% 46%;
}
.ss-room--zoom-repair.ss-room--5 {
	background-position: 99% 46%;
}
.ss-room--zoom-repair.ss-room--6 {
	background-position: 28% 87%;
}
.ss-room--zoom-repair.ss-room--7 {
	background-position: 64% 87%;
}
.ss-room--zoom-repair.ss-room--8 {
	background-position: 99% 87%;
}

.ss-room-name {
	border-width: 3px;
	border-style: double;
	padding: 0px 2px;
	font-weight: bold;
	border-radius: 4px 10px;
	white-space: nowrap;
	line-height: 22px;
	font-size: 11px;
	background: #eee;
	box-shadow: #00000055 2px 1px 2px;
}

.ss-room__damage {
	position: absolute;
	width: 9%;
	height: 12%;
	left: 85%;
	background-image: url(img/damage-cube.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 1.3s ease-in-out;
}
.ss-room__damage--0 {
	top: 18%;
}
.ss-room__damage--1 {
	top: 35%;
}
.ss-room__damage--2 {
	top: 52%;
}

.ss-room--damaged-0 .ss-room__damage--0,
.ss-room--damaged-1 .ss-room__damage--1,
.ss-room--damaged-2 .ss-room__damage--2 {
	top: 0;
	left: 0;
	opacity: 0;
}

.ss-room__diverted-token {
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	background-image: url(img/tokens.png);
	background-position: 0% 0%;
	background-size: 600% 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5));
	top: 0%;
	left: 35%;
	height: 20%;
	width: 15%;
	opacity: 0;
	pointer-events: none;
	transition: all 1.3s ease-in-out;
}
.ss-room__diverted-token.ss-visible {
	top: 45%;
	left: 5%;
	height: 27%;
	width: 20%;
	opacity: 1;
	pointer-events: all;
}

.ss-room__diverted-token:hover {
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.5));
}

.ss-damage-card {
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.5));
}

.ss-resource-card {
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.5));
}
.ss-resource-card.stockitem_selected {
	border: none !important;
	outline: 1px solid #2565e8;
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 255, 0.7)) drop-shadow(-3px -3px 6px rgba(0, 0, 255, 0.7));
}

.ss-resource-card-icon {
	display: inline-block;
	width: 14px;
	height: 20px;
	background-image: url('img/resources.jpg');
	background-position: 100% 0;
	background-size: 600%;
	vertical-align: middle;
	margin-right: 5px;
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.5));
}
.ss-resource-card-icon--medium {
	width: 21px;
	height: 30px;
}
.ss-resource-card-icon--data {
	background-position: 0% 0;
}
.ss-resource-card-icon--metal {
	background-position: 20% 0;
}
.ss-resource-card-icon--nanobots {
	background-position: 40% 0;
}
.ss-resource-card-icon--energy {
	background-position: 60% 0;
}
.ss-resource-card-icon--universal {
	background-position: 80% 0;
}

.ss-resource-deck {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	min-width: 230px;
}

.ss-resource-deck__title {
	width: 100%;
}

.ss-resource-deck__deck {
	width: 65px;
	height: 90px;
	background-image: url('img/resources.jpg');
	background-position: 100% 0;
	margin-right: 5px;
}
.ss-resource-deck__deck.ss-highlight {
	outline: 2px solid blue;
	box-shadow: rgba(0, 0, 255, 0.7) 4px 4px 6px;
	cursor: pointer;
}
.ss-resource-deck__deck__number {
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	width: 30px;
	background: #000407;
	border-radius: 50%;
	height: 30px;
	top: 52%;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	line-height: 30px;
}

.ss-resource-deck__table {
	flex-grow: 1;
}

.ss-resource-deck__table.ss-highlight .ss-resource-card {
	outline: 2px solid blue;
	box-shadow: rgba(0, 0, 255, 0.7) 4px 4px 6px;
}

.ss-players-hands {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	grid-gap: 20px;
	align-items: start;
	margin-top: 10px;
}

.ss-player-hand {
	padding: 5px;
}

.ss-player-board {
	display: flex;
	flex-wrap: wrap;
	margin-right: 10px;
	margin-bottom: 10px;
}

.ss-player-board.ss-highlight {
	border: 2px solid blue;
	box-shadow: rgba(0, 0, 255, 0.7) 4px 4px 6px;
	cursor: pointer;
}

.ss-player-board__name {
	width: 100%;
}

.ss-player-board .ss-player-hand {
	flex: 1;
	min-width: 10px;
}

.ss-player-hand.ss-highlight {
	outline: 2px solid blue;
	box-shadow: rgba(0, 0, 255, 0.7) 4px 4px 6px;
}

.ss-player-hand.ss-highlight .ss-resource-card:hover {
	box-shadow: rgba(255, 255, 255, 0.7) 4px 4px 6px;
}

.ss-player-meeple {
	position: absolute;
	background-image: url(img/meeples.png);
	background-position: 0 0;
	background-size: 100% 400%;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.7)) drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.7))
		drop-shadow(-1px 1px 1px rgba(255, 255, 255, 0.7)) drop-shadow(1px -1px 1px rgba(255, 255, 255, 0.7));
}

.ss-player-meeple--active {
	animation: neon2 1.5s ease-in-out infinite alternate;
}

.ss-player-meeple:hover {
	cursor: pointer;
	filter: drop-shadow(1px 1px 1px rgba(191, 191, 191, 0.7)) drop-shadow(-1px -1px 1px rgba(191, 191, 191, 0.7))
		drop-shadow(-1px 1px 1px rgba(191, 191, 191, 0.7)) drop-shadow(1px -1px 1px rgba(191, 191, 191, 0.7));
}

.ss-player-meeple.ss-highlight {
	cursor: pointer;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 255, 0.7)) drop-shadow(-1px -1px 1px rgba(0, 0, 255, 0.7))
		drop-shadow(-1px 1px 1px rgba(0, 0, 255, 0.7)) drop-shadow(1px -1px 1px rgba(0, 0, 255, 0.7));
}

.ss-player-meeple.ss-highlight:hover {
	cursor: pointer;
	filter: drop-shadow(1px 1px 1px rgba(127, 127, 255, 0.7)) drop-shadow(-1px -1px 1px rgba(127, 127, 255, 0.7))
		drop-shadow(-1px 1px 1px rgba(127, 127, 255, 0.7)) drop-shadow(1px -1px 1px rgba(127, 127, 255, 0.7));
}

.ss-player-meeple--order-1 {
	background-position: 0 0;
}
.ss-player-meeple--order-2 {
	background-position: 0 33%;
}
.ss-player-meeple--order-3 {
	background-position: 0 66%;
}
.ss-player-meeple--order-4 {
	background-position: 0 100%;
}

.ss-player-meeple-icon {
	background-image: url(img/meeples.png);
	background-position: 0 0;
	background-size: 100% 400%;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.3)) drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.3))
		drop-shadow(-1px 1px 1px rgba(255, 255, 255, 0.3)) drop-shadow(1px -1px 1px rgba(255, 255, 255, 0.3));
	vertical-align: text-bottom;
	margin-right: 5px;
}
.ss-player-meeple-icon--order-1 {
	background-position: 0 0;
}
.ss-player-meeple-icon--order-2 {
	background-position: 0 33%;
}
.ss-player-meeple-icon--order-3 {
	background-position: 0 66%;
}
.ss-player-meeple-icon--order-4 {
	background-position: 0 100%;
}

.ss-resource-reorder-dialog {
	height: 0;
	background: #ffffffcc;
	transition: all 1.3s ease-in-out;
	overflow: hidden;
	margin: 10px;
}

.ss-resource-reorder-dialog__title {
	margin-bottom: 10px;
	padding: 10px;
}

.ss-resource-reorder-deck {
	margin: 10px;
}

.ss-resource-reorder-dialog.ss-visible {
	overflow: visible;
	height: 200px;
}

.ss-damage-reorder-dialog {
	height: 0;
	background: #ffffffcc;
	transition: all 1.3s ease-in-out;
	overflow: hidden;
	margin: 10px;
}

.ss-damage-reorder-dialog__title {
	margin-bottom: 10px;
	padding: 10px;
}

.ss-damage-reorder-deck {
	margin: 10px;
}

.ss-damage-reorder-dialog.ss-visible {
	overflow: visible;
	height: 200px;
}

.ss-action-token {
	width: 30px;
	height: 30px;
	background-image: url(img/tokens.png);
	background-position: 100% 0%;
	background-size: 600% 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5));
}
.ss-player-board__action-tokens {
	opacity: 0;
	width: 0px;
	height: 0px;
	transition: all 1.3s ease-in-out;
	text-align: center;
	margin-left: 10px;
}
.ss-player-board__action-tokens.ss-visible {
	opacity: 1;
	width: 30px;
	height: 30px;
}

.ss-player-board__action-tokens__number {
	font-weight: bold;
}

.ss-diverted-token {
	background-image: url(img/tokens.png);
	background-position: 0% 0%;
	background-size: 600% 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5));
	height: 30px;
	width: 30px;
}

.ss-damage-cube {
	width: 30px;
	height: 30px;
	background-image: url(img/damage-cube.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.ss-protection-token {
	position: absolute;
	bottom: 0%;
	left: 0%;
	background-image: url(img/tokens.png);
	background-position: 20% 0%;
	background-size: 600% 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5));
	width: 15%;
	height: 20%;
}

.ss-protection-token + .ss-protection-token {
	left: 10%;
}
.ss-protection-token + .ss-protection-token + .ss-protection-token {
	left: 20%;
}
.ss-protection-token + .ss-protection-token + .ss-protection-token + .ss-protection-token {
	left: 30%;
}

.ss-protection-token--1 {
	background-position: 20% 0%;
}
.ss-protection-token--2 {
	background-position: 40% 0%;
}
.ss-protection-token--3 {
	background-position: 60% 0%;
}
.ss-protection-token--4 {
	background-position: 80% 0%;
}

.ss-dice {
	width: 50px;
	height: 50px;
	background-image: url(img/dice.png);
	background-position: 0% 0%;
	background-size: 600% 100%;
	box-shadow: #00000095 1px 1px 5px;
	border-radius: 6px;
}
span.ss-dice {
	display: inline-block;
	vertical-align: text-bottom;
}
.ss-dice--small {
	width: 22px;
	height: 22px;
}
.ss-dice[data-face='1'] {
	background-position: 0% 0%;
}
.ss-dice[data-face='2'] {
	background-position: 20% 0%;
}
.ss-dice[data-face='3'] {
	background-position: 40% 0%;
}
.ss-dice[data-face='4'] {
	background-position: 60% 0%;
}
.ss-dice[data-face='5'] {
	background-position: 80% 0%;
}
.ss-dice[data-face='6'] {
	background-position: 100% 0%;
}

.ss-dice-result-dialog {
	height: 0;
	background: #ffffffcc;
	transition: all 1.3s ease-in-out;
	overflow: hidden;
	margin: 5px;
	display: flex;
	align-items: center;
}
.ss-dice-result-dialog.ss-visible {
	height: 100px;
}
.ss-dice-result-dialog__dice {
	margin: 20px;
}
.ss-dice-result-dialog__message {
	margin: 10px;
	margin-left: 10px;
	flex: 1;
	font-weight: bold;
}

/* Un-reset css for list & co */
.ss-tooltip-markdown li ul,
.ss-tooltip-markdown li ol {
	margin: 0 1.5em;
}
.ss-tooltip-markdown ul,
.ss-tooltip-markdown ol {
	margin: 0 1.5em 1.5em 1.5em;
}
.ss-tooltip-markdown ul,
.ss-tooltip-markdown li {
	list-style-type: disc;
}
.ss-tooltip-markdown em,
.ss-tooltip-markdown i {
	font-style: italic;
}
.ss-tooltip-markdown p {
}

@keyframes ss-shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0) rotate3d(1, 1, 1, -0.1deg);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0) rotate3d(1, 1, 1, 0.2deg);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0) rotate3d(1, 1, 1, -0.4deg);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0) rotate3d(1, 1, 1, 0.4deg);
	}
}

@keyframes neon2 {
	from {
		filter: drop-shadow(1px 1px 4px rgba(255, 255, 255, 0.7)) drop-shadow(-1px -1px 4px rgba(255, 255, 255, 0.7))
			drop-shadow(-1px 1px 4px rgba(255, 255, 255, 0.7)) drop-shadow(1px -1px 4px rgba(255, 255, 255, 0.7));
	}
	to {
		filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.7)) drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.7))
			drop-shadow(-1px 1px 1px rgba(255, 255, 255, 0.7)) drop-shadow(1px -1px 1px rgba(255, 255, 255, 0.7));
	}
}
