/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SolarStorm implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * solarstorm.css
 *
 * SolarStorm stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (solarstorm_solarstorm.tpl), and to HTML elements you create dynamically
    (in solarstorm.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.ss-playarea {
	position: relative;
	height: 0;
	padding-bottom: 60%;
	box-sizing: border-box;
}
.ss-playarea * {
	box-sizing: border-box;
}

.ss-playmat {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(img/playmat.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.ss-rooms {
	position: absolute;
	top: 22.4%;
	left: 27.3%;
	width: 45.5%;
	height: 54.7%;
}

.ss-room {
	position: absolute;
	width: 32%;
	height: 32%;
	background-image: url('img/rooms.png');
	background-size: 300%;
	border-radius: 4%;
	box-shadow: rgba(0, 0, 0, 0.7) 3px 3px 5px;
}

.ss-room:hover {
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5)) drop-shadow(-2px -2px 2px rgba(0,0,0,0.5));
}

.ss-room--pos-0 {
	top: 0%;
	left: 0%;
}
.ss-room--pos-1 {
	top: 0%;
	left: 34%;
}
.ss-room--pos-2 {
	top: 0%;
	left: 68%;
}
.ss-room--pos-3 {
	top: 34%;
	left: 0%;
}
.ss-room--pos-4 {
	top: 34%;
	left: 34%;
}
.ss-room--pos-5 {
	top: 34%;
	left: 68%;
}
.ss-room--pos-6 {
	top: 68%;
	left: 0%;
}
.ss-room--pos-7 {
	top: 68%;
	left: 34%;
}
.ss-room--pos-8 {
	top: 68%;
	left: 68%;
}

.ss-room--0 {
	background-position: 0% 0%;
}
.ss-room--1 {
	background-position: 100% 0%;
}
.ss-room--2 {
	background-position: 200% 0%;
}
.ss-room--3 {
	background-position: 0% 100%;
}
.ss-room--4 {
	background-position: 100% 100%;
}
.ss-room--5 {
	background-position: 200% 100%;
}
.ss-room--6 {
	background-position: 0% 200%;
}
.ss-room--7 {
	background-position: 100% 200%;
}
.ss-room--8 {
	background-position: 200% 200%;
}

.ss-room__damage {
	position: absolute;
	width: 10%;
	height: 14%;
	left: 90%;
	background-image: url('img/damage-cube.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 1.3s ease-out;
}
.ss-room__damage--0 {
	top: 19%;
}
.ss-room__damage--1 {
	top: 37%;
}
.ss-room__damage--2 {
	top: 54%;
}

.ss-room--damaged-1 .ss-room__damage--0 {
	top: 0;
	left: 0;
	opacity: 0;
}
.ss-room--damaged-2 .ss-room__damage--0,
.ss-room--damaged-2 .ss-room__damage--1 {
	top: 0;
	left: 0;
	opacity: 0;
}
.ss-room--damaged-3 .ss-room__damage--0,
.ss-room--damaged-3 .ss-room__damage--1,
.ss-room--damaged-3 .ss-room__damage--2 {
	top: 0;
	left: 0;
	opacity: 0;
}

.ss-room__diverted-token {
	position: absolute;
	top: 25%;
	bottom: 35%;
	left: 35%;
	right: 35%;
	background-image: url('img/diverted-token.png');
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5)) drop-shadow(-1px -1px 1px rgba(0,0,0,0.5));
	display: none;
}
.ss-room__diverted-token--visible {
	display: block;
}

.ss-room__diverted-token:hover {
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5)) drop-shadow(-2px -2px 2px rgba(0,0,0,0.5));
}
